/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.settings-page {
  height: 100vh;
}

.settings-title {
  display: flex;
  background-color: red;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
}

.settings-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-align: center;
  /* color: rgb(78, 78, 78); */
}

.settings-top {
  margin-bottom: 30px;
}

/* .rangeslider-horizontal .rangeslider__fill {
  background-color: blue;
} */

.settings-options {
  display: flex;
}

.settings-left-side p {
  display: block;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  max-width: 110px;
  flex-direction: column;
}

/* .settings-left-side p:first-child {
  margin-bottom: 5px;
} */

.settings-right-side {
  display: block;
  margin-left: 10px;
}

.settings-toggle-bar {
  margin-bottom: 35px;
}

.settings-option-item-each {
  margin-bottom: 68px;
}

.settings-option-item-numbers {
  font-size: 10px;
  display: flex;
}

.settings-option-item-numbers p {
  margin-right: 85px;
}

.settings-option-item-bar {
  border: 1px solid black;
  border-radius: 5px;
  height: 10px;
  width: 198px;
  flex-direction: column;
}

.settings-slider {
  /* margin-bottom: 68px; */
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
